.Americas {
    font-family: sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

.leaflet-container{
    height: 100vh;
}

.cluster-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #fff;
    color:crimson;
    transform: translate(-25%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
}

/*.modal {
    width:80vh;
    height: 70vh;
    position: relative;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(220, 220, 200);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
    z-index: 9999;
    align-items: center; 
    justify-content: center; 
    display: flex;
    flex-direction: column;
  }*/
  
  .modal {
    width: 80vh;
    height: 70vh;
    position: relative;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(220, 220, 200);
    border-radius: 8px;
    border: 8px #333;
    border-color: white;
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 4px 6px rgb(180, 180, 160) ;

    overflow: auto;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
  }

/* Modal content flexbox layout */
.modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  /* Styling for the image container */
  .modal-image-container {
    flex: 1.5;
    margin-right: 20px;
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ensures image retains aspect ratio */
    max-width: 400px; /* Optionally limit max width */
    border-radius: 8px;
    border: 3px solid #161E13;
  }
  
  /* Text container for the title and description */
  .modal-text {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  /* Title styling */
  .modal-title {
    font-size: 0.8rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Description styling */
  .modal-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .modal-content {
      flex-direction: column;
    }
  
    .modal-image-container {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .modal-image {
      max-width: 100%;
    }
  
    .modal-title {
      font-size: 1.5rem;
    }
  
    .modal-description {
      font-size: 1rem;
    }
  }
  

  /* Customize the EasyButton */
.leaflet-easy-button-button {
    background-color: #4CAF50; /* Change background color */
    border-radius: 50%; /* Make it circular */
    font-size: 20px; /* Change the icon size */
    color: white; /* Change the icon color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
  }
  
  .leaflet-easy-button-button:hover {
    background-color: #45a049; /* Change color on hover */
  }
  